*.pyc
*.txt
dataset_3/
pkl_file3/
pkl_files_9_11/
pklfiles/10-23
pklfiles/10-24
pklfiles/10-25
pklfiles/10-27
pklfiles/10-26
pklfiles/10-28
pklfiles/10-29
pklfiles/10-29-10layers
pklfiles/10-30-multitask
*.png
pklfiles/10-30-multitask_without_P
pklfiles/10-31-10-layers
pklfiles/11-5-10-layers
pklfiles/11-9
pklfiles/11-10
pklfiles/11-6
pklfiles/11-7
